{% extends 'base.html.twig' %}

{% block javascripts %}
  {% javascripts '@jquery_js' '@bootstrap_js' filter='?yui_js' combine=true %}
     <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
  {% stylesheets '@bootstrap_less' '@passenger_less' combine=true %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
 {% endstylesheets %}
{% endblock %}

{% block body %}

<!-- Header information for active test page -->
<div class="row">
  <div class="container">
    <div class="col-md-8">
      <h1>Hello {{ name | capitalize }}</h1>
      <h3>What up tho...??</h3>
      <p>Welcome to the dojo. First things first. Let's get you out of those filthy clothes and set you up in something proper.</p>

      <p>To right you will notice a  table with data populated in it. Don't worry about the values just yet. They are not representative of anything tangible at this time. They merely serve to provide spatial recommendations and examples to build from.</p>

    </div>

    <div class="col-md-4">
      <h2>Key Exposure Elements</h2>

      <table class="elementsTable">
        <th>(KEE)</th>
        <tr>
          <td>Title</td>
          <td>Age</td>
          <td>Node</td>
          <td>Luck</td>
        </tr>

        <tr>
          <td>Mr.</td>
          <td>35</td>
          <td>127.0.0.1</td>
          <td>+55</td>
        </tr>

      </table>
    </div>

    <div class="col-md-12">
      <h3>Sup though</h3>
    </div>
  </div>
</div>


{% endblock %}
